@{
    ViewBag.Title = "Main Page";
}

<div class="jumbotron">
    <h1>CMG Global Funding Rates</h1>
    <p class="lead">Below are tables... instructions.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-sm-12">

        <div class="panel-group" id="accordion"> @*accordion begins*@
            
            <div class="panel panel-primary"> @*toronto panel*@
                <div class="panel-heading">
                    <h1 class="panel-title">
                        <a href="#collapse1" data-toggle="collapse" data-parent="#accordion" aria-expanded="true">Collateral Management and Funding - Toronto</a>
                    </h1>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" aria-expanded="true">
                    <div class="panel-body">
                        <p>...</p>
                        
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr class="custom_table_header_bg_color">
                                <th class="hidden">ID</th>
                                <th class="text-center col-sm-1">Currency</th>
                                <th class="text-center col-sm-2">Product</th>
                                <th class="text-center col-sm-1">O/N</th>
                                <th class="text-center col-sm-2">1M</th>
                                <th class="text-center col-sm-2">2M</th>
                                <th class="text-center col-sm-2">3M</th>
                                <th class="text-center col-sm-2">12M</th>
                            </tr>
                        </thead>
                        <tbody id="CMF_Toronto_TableBody">
                            <tr>
                                <td class="hidden no-change-text"></td>
                                <td class="text-center no-change-text"></td>
                                <td class="text-center no-change-text"></td>
                                <td class="text-center no-change-text"><em>Repo</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                            </tr>
                        </tbody>
                        <tfoot id="CMF_Toronto_FooterContacts">
                            <tr class="custom_table_header_bg_color">
                                <th class="hidden">ID</th>
                                <th colspan="2">Contact</th>
                                <th colspan="2">Phone</th>
                                <th colspan="3">Email</th>
                            </tr>
                            @*<tr>
                                <td class="hidden"></td>
                                <td colspan="2">Mohammad Farooqi</td>
                                <td colspan="2">416 111 1111</td>
                                <td colspan="3">mohammad.farooqi@gmail.com</td>
                            </tr>*@
                        </tfoot>
                    </table>
                </div>
            </div> @*panel finish*@

            <div class="panel panel-success"> @*new york panel*@
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#collapse2" data-toggle="collapse" data-parent="#accordion" aria-expanded="true">Collateral Management and Funding - New York</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" aria-expanded="true">
                    <div class="panel-body">
                        <p>...</p>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr class="custom_table_header_bg_color">
                                <th class="hidden">ID</th>
                                <th class="text-center col-sm-1">Currency</th>
                                <th class="text-center col-sm-2">Product</th>
                                <th class="text-center col-sm-1">O/N</th>
                                <th class="text-center col-sm-2" colspan="2">1M</th>
                                <th class="text-center col-sm-2" colspan="2">3M</th>
                                <th class="text-center col-sm-2" colspan="2">6M</th>
                                <th class="text-center col-sm-2" colspan="2">12M</th>
                            </tr>
                        </thead>
                        <tbody id="CMF_NewYork_TableBody">
                            <tr>
                                <td class="hidden no-change-text"></td>
                                <td class="text-center no-change-text"></td>
                                <td class="text-center no-change-text"></td>
                                <td class="text-center no-change-text"><em>Repo</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                                <td class="text-center no-change-text"><em>Floating*</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                                <td class="text-center no-change-text"><em>Floating*</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                                <td class="text-center no-change-text"><em>Floating*</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                                <td class="text-center no-change-text"><em>Floating*</em></td>
                            </tr>
                        </tbody>
                        <tfoot id="CMF_NewYork_FooterContacts">
                            <tr class="custom_table_header_bg_color">
                                <th class="hidden">ID</th>
                                <th colspan="3">Contact</th>
                                <th colspan="2">Phone</th>
                                <th colspan="6">Email</th>
                            </tr>
                            @*<tr>
                                <td class="hidden"></td>
                                <td colspan="3">Mohammad Farooqi</td>
                                <td colspan="2">416 111 1111</td>
                                <td colspan="6">mohammad.farooqi@gmail.com</td>
                            </tr>*@
                        </tfoot>
                    </table>
                </div>
            </div> @*panel finish*@

            <div class="panel panel-info"> @*london panel*@
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#collapse3" data-toggle="collapse" data-parent="#accordion" aria-expanded="true">Collateral Management and Funding - London</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" aria-expanded="true">
                    <div class="panel-body">
                        <p>...</p>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr class="custom_table_header_bg_color">
                                <th class="hidden">ID</th>
                                <th class="text-center col-sm-1">Currency</th>
                                <th class="text-center col-sm-2">Product</th>
                                <th class="text-center col-sm-1">O/N</th>
                                <th class="text-center col-sm-2">1M</th>
                                <th class="text-center col-sm-2">3M</th>
                                <th class="text-center col-sm-2">6M</th>
                                <th class="text-center col-sm-2">12M</th>
                            </tr>
                        </thead>
                        <tbody id="CMF_London1_TableBody">
                            <tr>
                                <td class="hidden no-change-text"></td>
                                <td class="text-center no-change-text"></td>
                                <td class="text-center no-change-text"></td>
                                <td class="text-center no-change-text"><em>Repo</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr class="custom_table_header_bg_color">
                                <th class="hidden">ID</th>
                                <th class="text-center col-sm-1">Currency</th>
                                <th class="text-center col-sm-2">Product</th>
                                <th class="text-center col-sm-1">O/N</th>
                                <th class="text-center col-sm-4" colspan="2">1M</th>
                                <th class="text-center col-sm-4" colspan="2">3M</th>
                            </tr>
                        </thead>
                        <tbody id="CMF_London2_TableBody">
                            <tr>
                                <td class="hidden"></td>
                                <td class="text-center no-change-text"></td>
                                <td class="text-center no-change-text"></td>
                                <td class="text-center no-change-text"><em></em></td>
                                <td class="text-center no-change-text"><em>Indexed</em></td>
                                <td class="text-center no-change-text"><em>Fixed Value</em></td>
                                <td class="text-center no-change-text"><em>Indexed</em></td>
                                <td class="text-center no-change-text"><em>Fixed Value</em></td>
                            </tr>
                        </tbody>
                        <tfoot id="CMF_London_FooterContacts">
                            <tr class="custom_table_header_bg_color">
                                <th class="hidden">ID</th>
                                <th colspan="3">Contact</th>
                                <th colspan="1">Phone</th>
                                <th colspan="7">Email</th>
                            </tr>
                            <tr>
                                @*<td class="hidden"></td>
                                <td colspan="3">Mohammad Farooqi</td>
                                <td colspan="1">416 111 1111</td>
                                <td colspan="7">mohammad.farooqi@gmail.com</td>*@
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div> @*panel finish*@

            <div class="panel panel-warning"> @*singapore panel*@
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#collapse4" data-toggle="collapse" data-parent="#accordion" aria-expanded="true">Collateral Management and Funding - Singapore</a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" aria-expanded="true">
                    <div class="panel-body">
                        <p>...</p>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr class="custom_table_header_bg_color">
                                <th class="hidden">ID</th>
                                <th class="text-center col-sm-1">Currency</th>
                                <th class="text-center col-sm-3">Product</th>
                                <th class="text-center col-sm-1">O/N</th>
                                <th class="text-center col-sm-1">1M</th>
                                <th class="text-center col-sm-1">2M</th>
                                <th class="text-center col-sm-1">3M</th>
                                <th class="text-center col-sm-1">4M</th>
                                <th class="text-center col-sm-1">5M</th>
                                <th class="text-center col-sm-1">6M</th>
                            </tr>
                        </thead>
                        <tbody id="CMF_Singapore_TableBody">
                            <tr>
                                <td class="hidden no-change-text"></td>
                                <td class="text-center no-change-text"></td>
                                <td class="text-center no-change-text"></td>
                                <td class="text-center no-change-text"><em>Repo</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                            </tr>
                        </tbody>
                        <tfoot id="CMF_Singapore_FooterContacts">
                            <tr class="custom_table_header_bg_color">
                                <th class="hidden">ID</th>
                                <th colspan="2">Contacts</th>
                                <th colspan="3">Phone</th>
                                <th colspan="4">Email</th>
                            </tr>
                            @*<tr>
                                <td class="hidden"></td>
                                <td colspan="2">Mohammad Farooqi</td>
                                <td colspan="3">416 111 1111</td>
                                <td colspan="4">mohammad.farooqi@gmail.com</td>
                            </tr>*@
                        </tfoot>
                    </table>
                </div>
            </div> @*panel finish*@

        </div> @*panel-group finish*@

    </div> @*col-md-12 finish*@
</div> @*row finish*@

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@