@{
    ViewBag.Title = "Main Page";
}
<div class="loading" id="initalLoader">Loading...</div>
<div class="well">
    <div>
        <img style="float: right; margin: 0px 10px 0px 10px;" src="~/Images/BNSLogo1.png" />
        <h2>CMF Global Funding Rates</h2>
    </div>
    
    <div>
        <small><em>The below rates are only meant to be indicative of market conditions, while actual rates may vary based on exact collateral mix and current positions/concentrations.</em></small>
    </div>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-sm-12">

        @*<div class="panel-group" id="accordion"> accordion begins*@
            
            <div class="panel panel-primary"> @*toronto panel*@
                <div class="panel-heading">
                    <h1 class="panel-title">
                        <a href="#collapse1" data-toggle="collapse" data-parent="#accordion" aria-expanded="true">Collateral Management and Funding - Toronto</a>
                    </h1>
                </div>
                <div id="collapse1" class="panel-collapse collapse" aria-expanded="true">
                    <div class="panel-body">
                        <p>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalToronto">Insert Row To Table</button>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModalTorontoContact">Insert Row To Contact Table</button>
                        </p>                        
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr class="custom_table_header_bg_color">
                                <th class="hidden">ID</th>
                                <th class="text-center col-sm-1">Currency</th>
                                <th class="text-center col-sm-2">Product</th>
                                <th class="text-center col-sm-1">O/N</th>
                                <th class="text-center col-sm-2">1M</th>
                                <th class="text-center col-sm-2">2M</th>
                                <th class="text-center col-sm-2">3M</th>
                                <th class="text-center col-sm-2">12M</th>
                            </tr>
                        </thead>
                        <tbody id="CMF_Toronto_TableBody">
                            <tr>
                                <td class="hidden no-change-text"></td>
                                <td class="text-center no-change-text"></td>
                                <td class="text-center no-change-text"></td>
                                <td class="text-center no-change-text"><em>Repo</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                            </tr>
                        </tbody>
                        <tfoot id="CMF_Toronto_FooterContacts">
                            <tr class="custom_table_header_bg_color">
                                <th class="hidden">ID</th>
                                <th colspan="2">Contact</th>
                                <th colspan="2">Phone</th>
                                <th colspan="3">Email</th>
                            </tr>
                            @*<tr>
                                <td class="hidden"></td>
                                <td colspan="2">Mohammad Farooqi</td>
                                <td colspan="2">416 111 1111</td>
                                <td colspan="3">mohammad.farooqi@gmail.com</td>
                            </tr>*@
                        </tfoot>
                    </table>
                </div>
            </div> @*panel finish*@

            <div class="panel panel-success"> @*new york panel*@
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#collapse2" data-toggle="collapse" data-parent="#accordion" aria-expanded="true">Collateral Management and Funding - New York</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" aria-expanded="true">
                    <div class="panel-body">
                        <p>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalNewYork">Insert Row To Table</button>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModalNewYorkContact">Insert Row To Contact Table</button>
                        </p>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr class="custom_table_header_bg_color">
                                <th class="hidden">ID</th>
                                <th class="text-center col-sm-1">Currency</th>
                                <th class="text-center col-sm-2">Product</th>
                                <th class="text-center col-sm-1">O/N</th>
                                <th class="text-center col-sm-2" colspan="2">1M</th>
                                <th class="text-center col-sm-2" colspan="2">3M</th>
                                <th class="text-center col-sm-2" colspan="2">6M</th>
                                <th class="text-center col-sm-2" colspan="2">12M</th>
                            </tr>
                        </thead>
                        <tbody id="CMF_NewYork_TableBody">
                            <tr>
                                <td class="hidden no-change-text"></td>
                                <td class="text-center no-change-text"></td>
                                <td class="text-center no-change-text"></td>
                                <td class="text-center no-change-text"><em>Repo</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                                <td class="text-center no-change-text"><em>Floating*</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                                <td class="text-center no-change-text"><em>Floating*</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                                <td class="text-center no-change-text"><em>Floating*</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                                <td class="text-center no-change-text"><em>Floating*</em></td>
                            </tr>
                        </tbody>
                        <tfoot id="CMF_NewYork_FooterContacts">
                            <tr class="custom_table_header_bg_color">
                                <th class="hidden">ID</th>
                                <th colspan="3">Contact</th>
                                <th colspan="2">Phone</th>
                                <th colspan="6">Email</th>
                            </tr>
                            @*<tr>
                                <td class="hidden"></td>
                                <td colspan="3">Mohammad Farooqi</td>
                                <td colspan="2">416 111 1111</td>
                                <td colspan="6">mohammad.farooqi@gmail.com</td>
                            </tr>*@
                        </tfoot>
                    </table>
                </div>
            </div> @*panel finish*@

            <div class="panel panel-info"> @*london panel*@
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#collapse3" data-toggle="collapse" data-parent="#accordion" aria-expanded="true">Collateral Management and Funding - London</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" aria-expanded="true">
                    <div class="panel-body">
                        <p>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalLondon1">Insert Row To Top Table</button>
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModalLondon2">Insert Row To Bottom Table</button>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModalLondonContact">Insert Row To Contact Table</button>
                        </p>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr class="custom_table_header_bg_color">
                                <th class="hidden">ID</th>
                                <th class="text-center col-sm-1">Currency</th>
                                <th class="text-center col-sm-2">Product</th>
                                <th class="text-center col-sm-1">O/N</th>
                                <th class="text-center col-sm-2">1M</th>
                                <th class="text-center col-sm-2">3M</th>
                                <th class="text-center col-sm-2">6M</th>
                                <th class="text-center col-sm-2">12M</th>
                            </tr>
                        </thead>
                        <tbody id="CMF_London1_TableBody">
                            <tr>
                                <td class="hidden no-change-text"></td>
                                <td class="text-center no-change-text"></td>
                                <td class="text-center no-change-text"></td>
                                <td class="text-center no-change-text"><em>Repo</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr class="custom_table_header_bg_color">
                                <th class="hidden">ID</th>
                                <th class="text-center col-sm-1">Currency</th>
                                <th class="text-center col-sm-2">Product</th>
                                <th class="text-center col-sm-1">O/N</th>
                                <th class="text-center col-sm-4" colspan="2">1M</th>
                                <th class="text-center col-sm-4" colspan="2">3M</th>
                            </tr>
                        </thead>
                        <tbody id="CMF_London2_TableBody">
                            <tr>
                                <td class="hidden"></td>
                                <td class="text-center no-change-text"></td>
                                <td class="text-center no-change-text"></td>
                                <td class="text-center no-change-text"><em></em></td>
                                <td class="text-center no-change-text"><em>Indexed</em></td>
                                <td class="text-center no-change-text"><em>Fixed Value</em></td>
                                <td class="text-center no-change-text"><em>Indexed</em></td>
                                <td class="text-center no-change-text"><em>Fixed Value</em></td>
                            </tr>
                        </tbody>
                        <tfoot id="CMF_London_FooterContacts">
                            <tr class="custom_table_header_bg_color">
                                <th class="hidden">ID</th>
                                <th colspan="3">Contact</th>
                                <th colspan="1">Phone</th>
                                <th colspan="7">Email</th>
                            </tr>
                            <tr>
                                @*<td class="hidden"></td>
                                <td colspan="3">Mohammad Farooqi</td>
                                <td colspan="1">416 111 1111</td>
                                <td colspan="7">mohammad.farooqi@gmail.com</td>*@
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div> @*panel finish*@

            <div class="panel panel-warning"> @*singapore panel*@
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#collapse4" data-toggle="collapse" data-parent="#accordion" aria-expanded="true">Collateral Management and Funding - Singapore</a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" aria-expanded="true">
                    <div class="panel-body">
                        <p>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalSingapore">Insert Row To Table</button>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModalSingaporeContact">Insert Row To Contact Table</button>
                        </p>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr class="custom_table_header_bg_color">
                                <th class="hidden">ID</th>
                                <th class="text-center col-sm-1">Currency</th>
                                <th class="text-center col-sm-3">Product</th>
                                <th class="text-center col-sm-1">O/N</th>
                                <th class="text-center col-sm-1">1M</th>
                                <th class="text-center col-sm-1">2M</th>
                                <th class="text-center col-sm-1">3M</th>
                                <th class="text-center col-sm-1">4M</th>
                                <th class="text-center col-sm-1">5M</th>
                                <th class="text-center col-sm-1">6M</th>
                            </tr>
                        </thead>
                        <tbody id="CMF_Singapore_TableBody">
                            <tr>
                                <td class="hidden no-change-text"></td>
                                <td class="text-center no-change-text"></td>
                                <td class="text-center no-change-text"></td>
                                <td class="text-center no-change-text"><em>Repo</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                                <td class="text-center no-change-text"><em>Fixed</em></td>
                            </tr>
                        </tbody>
                        <tfoot id="CMF_Singapore_FooterContacts">
                            <tr class="custom_table_header_bg_color">
                                <th class="hidden">ID</th>
                                <th colspan="2">Contact</th>
                                <th colspan="3">Phone</th>
                                <th colspan="4">Email</th>
                            </tr>
                            @*<tr>
                                <td class="hidden"></td>
                                <td colspan="2">Mohammad Farooqi</td>
                                <td colspan="3">416 111 1111</td>
                                <td colspan="4">mohammad.farooqi@gmail.com</td>
                            </tr>*@
                        </tfoot>
                    </table>
                </div>
            </div> @*panel finish*@

        @* </div> panel-group finish*@

    </div> @*col-md-12 finish*@
</div> @*row finish*@





<!-- Modal Toronto -->
<div class="modal fade" id="myModalToronto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Insert to <em>Collateral Management and Funding - Toronto</em></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="toronto_form_modal">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_toronto_currency">Currency:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_toronto_currency" name="currency" placeholder="Enter Currency">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_toronto_product">Product:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_toronto_product" name="product" placeholder="Enter Product">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_toronto_on">O/N:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_toronto_on" name="on_repo" placeholder="Enter O/N">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_toronto_1m_fixed">1M (Fixed):</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_toronto_1m_fixed" name="onemonth_fixed" placeholder="Enter 1M (Fixed)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_toronto_2m_fixed">2M (Fixed):</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_toronto_2m_fixed" name="twomonth_fixed" placeholder="Enter 2M (Fixed)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_toronto_3m_fixed">3M (Fixed):</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_toronto_3m_fixed" name="threemonth_fixed" placeholder="Enter 3M (Fixed)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_toronto_12m_fixed">12M (Fixed):</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_toronto_12m_fixed" name="twelvemonth_fixed" placeholder="Enter 12M (Fixed)">
                        </div>
                    </div>
                    @*<div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="ins_toronto_row()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Toronto Contact -->
<div class="modal fade" id="myModalTorontoContact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Insert to <em>Collateral Management and Funding - Toronto Contacts</em></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="toronto_contact_form_modal">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_toronto_contact_contact">Contact:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_toronto_contact_contact" name="contact" placeholder="Enter Contact">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_toronto_contact_phone">Phone:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_toronto_contact_phone" name="phone" placeholder="Enter Phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_toronto_contact_email">Email:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_toronto_contact_email" name="email" placeholder="Enter Email">
                        </div>
                    </div>
                    @*<div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="ins_toronto_contact_row()">Save changes</button>
            </div>
        </div>
    </div>
</div>





<!-- Modal New York -->
<div class="modal fade" id="myModalNewYork" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Insert to <em>Collateral Management and Funding - New York</em></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="newyork_form_modal">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_newyork_currency">Currency:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_newyork_currency" name="currency" placeholder="Enter Currency">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_newyork_product">Product:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_newyork_product" name="product" placeholder="Enter Product">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_newyork_on">O/N:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_newyork_on" name="on_repo" placeholder="Enter O/N">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_newyork_1m_fixed">1M (Fixed):</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_newyork_1m_fixed" name="onemonth_fixed" placeholder="Enter 1M (Fixed)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_newyork_1m_floating">1M (Floating):</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_newyork_1m_floating" name="onemonth_floating" placeholder="Enter 1M (Floating)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_newyork_3m_fixed">3M (Fixed):</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_newyork_3m_fixed" name="threemonth_fixed" placeholder="Enter 3M (Fixed)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_newyork_3m_floating">3M (Floating):</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_newyork_3m_floating" name="threemonth_floating" placeholder="Enter 3M (Floating)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_newyork_6m_fixed">6M (Fixed):</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_newyork_6m_fixed" name="sixmonth_fixed" placeholder="Enter 6M (Fixed)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_newyork_6m_floating">6M (Floating):</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_newyork_6m_floating" name="sixmonth_floating" placeholder="Enter 6M (Floating)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_toronto_12m_fixed">12M (Fixed):</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_toronto_12m_fixed" name="twelvemonth_fixed" placeholder="Enter 12M (Fixed)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_toronto_12m_floating">12M (Floating):</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_toronto_12m_floating" name="twelvemonth_floating" placeholder="Enter 12M (Floating)">
                        </div>
                    </div>
                    @*<div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="ins_newyork_row()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal New York Contact -->
<div class="modal fade" id="myModalNewYorkContact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Insert to <em>Collateral Management and Funding - New York Contacts</em></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="newyork_contact_form_modal">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_newyork_contact_contact">Contact:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_newyork_contact_contact" name="contact" placeholder="Enter Contact">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_newyork_contact_phone">Phone:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_newyork_contact_phone" name="phone" placeholder="Enter Phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_newyork_contact_email">Email:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_newyork_contact_email" name="email" placeholder="Enter Email">
                        </div>
                    </div>
                    @*<div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="ins_newyork_contact_row()">Save changes</button>
            </div>
        </div>
    </div>
</div>






<!-- Modal London 1 -->
<div class="modal fade" id="myModalLondon1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Insert to <em>Collateral Management and Funding - London Top Table</em></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="london1_form_modal">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_london1_currency">Currency:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_london1_currency" name="currency" placeholder="Enter Currency">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_london1_product">Product:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_london1_product" name="product" placeholder="Enter Product">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_london1_on">O/N:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_london1_on" name="on_repo" placeholder="Enter O/N">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_london1_1m_fixed">1M (Fixed):</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_london1_1m_fixed" name="onemonth_fixed" placeholder="Enter 1M (Fixed)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_london1_3m_fixed">3M (Fixed):</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_london1_3m_fixed" name="threemonth_fixed" placeholder="Enter 3M (Fixed)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_london1_6m_fixed">6M (Fixed):</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_london1_6m_fixed" name="sixmonth_fixed" placeholder="Enter 6M (Fixed)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_london1_12m_fixed">12M (Fixed):</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_london1_12m_fixed" name="twelvemonth_fixed" placeholder="Enter 12M (Fixed)">
                        </div>
                    </div>
                    @*<div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="ins_london1_row()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal London 2 -->
<div class="modal fade" id="myModalLondon2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Insert to <em>Collateral Management and Funding - London Bottom Table</em></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="london2_form_modal">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_london2_currency">Currency:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_london2_currency" name="currency" placeholder="Enter Currency">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_london2_product">Product:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_london2_product" name="product" placeholder="Enter Product">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_london2_on">O/N:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_london2_on" name="on_repo" placeholder="Enter O/N">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_london2_1m_indexed">1M (Indexed):</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_london2_1m_indexed" name="onemonth_indexed" placeholder="Enter 1M (Indexed)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_london2_1m_fixedvalue">1M (Fixed Value):</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_london2_1m_fixedvalue" name="onemonth_fixedvalue" placeholder="Enter 1M (Fixed Value)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_london2_3m_indexed">3M (Indexed):</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_london2_3m_indexed" name="threemonth_indexed" placeholder="Enter 3M (Indexed)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_london2_3m_fixedvalue">3M (Fixed Value):</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_london2_3m_fixedvalue" name="threemonth_fixedvalue" placeholder="Enter 3M (Fixed Value)">
                        </div>
                    </div>
                    @*<div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="ins_london2_row()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal London Contact -->
<div class="modal fade" id="myModalLondonContact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Insert to <em>Collateral Management and Funding - London Contacts</em></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="london_contact_form_modal">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_london_contact_contact">Contact:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_london_contact_contact" name="contact" placeholder="Enter Contact">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_london_contact_phone">Phone:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_london_contact_phone" name="phone" placeholder="Enter Phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_london_contact_email">Email:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_london_contact_email" name="email" placeholder="Enter Email">
                        </div>
                    </div>
                    @*<div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="ins_london_contact_row()">Save changes</button>
            </div>
        </div>
    </div>
</div>






<!-- Modal Singapore -->
<div class="modal fade" id="myModalSingapore" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Insert to <em>Collateral Management and Funding - Singapore</em></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="singapore_form_modal">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_singapore_currency">Currency:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_singapore_currency" name="currency" placeholder="Enter Currency">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_singapore_product">Product:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_singapore_product" name="product" placeholder="Enter Product">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_singapore_on">O/N:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_singapore_on" name="on_repo" placeholder="Enter O/N">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_singapore_1m_fixed">1M (Fixed):</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_singapore_1m_fixed" name="onemonth_fixed" placeholder="Enter 1M (Fixed)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_singapore_2m_fixed">2M (Fixed):</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_singapore_2m_fixed" name="twomonth_fixed" placeholder="Enter 2M (Fixed)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_singapore_3m_fixed">3M (Fixed):</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_singapore_3m_fixed" name="threemonth_fixed" placeholder="Enter 3M (Fixed)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_singapore_4m_fixed">4M (Fixed):</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_singapore_4m_fixed" name="fourmonth_fixed" placeholder="Enter 4M (Fixed)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_singapore_5m_fixed">5M (Fixed):</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_singapore_5m_fixed" name="fivemonth_fixed" placeholder="Enter 5M (Fixed)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_singapore_6m_fixed">6M (Fixed):</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_singapore_6m_fixed" name="sixmonth_fixed" placeholder="Enter 6M (Fixed)">
                        </div>
                    </div>
                    @*<div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="ins_singapore_row()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Singapore Contact -->
<div class="modal fade" id="myModalSingaporeContact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Insert to <em>Collateral Management and Funding - Singapore Contacts</em></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="singapore_contact_form_modal">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_singapore_contact_contact">Contact:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_singapore_contact_contact" name="contact" placeholder="Enter Contact">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_singapore_contact_phone">Phone:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_singapore_contact_phone" name="phone" placeholder="Enter Phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ins_singapore_contact_email">Email:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ins_singapore_contact_email" name="email" placeholder="Enter Email">
                        </div>
                    </div>
                    @*<div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="ins_singapore_contact_row()">Save changes</button>
            </div>
        </div>
    </div>
</div>











@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@